<header>
    <li class="header_left clearfix"><%= link_to 'ホーム', '/letters' %></li>
    <li class="header_left clearfix"><%= link_to 'ツイート', '/letters/edit' %></li>
    <li class="header_right clearfix"><%= link_to 'ツイートする', '/letters/new'%></li>
</header>

<h1>ツイート</h1>

<table>
  <tr>
    <th>内容</th></th>
  </tr>

<% @letters.each do |letter| %>
  <tr>
    <td><%= letter.content %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to '新しくツイートする', new_letter_path %>


<footer class="footers">
    <p>つぶやき</p>
    <p>© 2018- tubuyaki Corp.</p>
</footer>